<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rocket.pan.server.modules.file.mapper.RPanFileChunkMapper">

    <resultMap id="BaseResultMap" type="com.rocket.pan.server.modules.file.entity.RPanFileChunk">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="identifier" column="identifier" jdbcType="VARCHAR"/>
            <result property="real_path" column="real_path" jdbcType="VARCHAR"/>
            <result property="chunk_number" column="chunk_number" jdbcType="INTEGER"/>
            <result property="expiration_time" column="expiration_time" jdbcType="TIMESTAMP"/>
            <result property="create_user" column="create_user" jdbcType="BIGINT"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,identifier,real_path,
        chunk_number,expiration_time,create_user,
        create_time
    </sql>
</mapper>
